<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}UMons LIMS{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}

    </head>
    
    <body class="d-flex flex-column min-vh-100">

        {% if app.session.has('current_registration_number') %}
            <strong>
                logged in as {{ app.session.get('current_registration_number')}}
            </strong>

        {% endif %}

        <center>

        <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <a class="navbar-brand d-md-none" href="/"><img src="{{ asset('lims_icon2.svg') }}" alt="site-logo"></a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-md-flex d-block w-100">
                <div class="collapse navbar-collapse mx-auto w-auto justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/">Produits <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/history">Historique</a>
                        <a class="navbar-brand mx-2 d-none d-md-inline" href="/"><img src="{{ asset('lims_icon2.svg') }}" alt="site-logo"></a>
                        <a class="nav-item nav-link" href="{{ path('admin.user') }}">Administration</a>
                        {% if app.user%}
                            <a class="nav-item nav-link" href="{{ path('app_logout') }}">Déconnexion</a><!-- active/disabled-->
                        {% else %}
                            <a class="nav-item nav-link" href="{{ path('userselect') }}">Connexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        {% block searchbar %}
            <div class="input-group" style="margin-top:1%; width:40%; margin-bottom:1%;">
                <input type="text" id="search" placeholder="Rechercher..." class="form-control"/>
            </div>
        {% endblock %}


            {% block flash_messages %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

            {% endblock %}
        </center>
        {% block body %}{% endblock %}
        <div id="particles-js" ></div>
        
    <footer class="footer mt-auto" style="background:white;">
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                {% if app.user %}
		            <span>You are logged in as {{ app.user.username }}</span>
	            {% endif %}
            </div>
            <div class="col-sm">
                <center>
                    <span>Created by --.S, Palgen.A, Zielinski.P 2021</span>
                </center>
            </div>
            <div class="col-sm">
            </div>
        </div>
      </div>
    </footer>


        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script>
            particlesJS.load('particles-js', '{{ asset('particles.json') }}', function() {console.log('callback - particles.js config loaded');});
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
