{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="tableStyle.css"/>
{% endblock %}

{% block title %}
    Historique
{% endblock %}

{% block searchbar %}
    <div class="container" style="margin-top:1%; width:40%; margin-bottom:1%;">
    <div class="row">
      <div class="col">
        <input type="text" id="search" placeholder="Rechercher..." class="form-control"/>
      </div>  
      <div class="col">  
        <div class="form-floating">
          <select id="columnselect" class="form-select" aria-label="Floating label select example">
            <option value="-1" selected>Tous les champs</option>
            <option value="0">Action</option>
            <option value="1">Produit</option>
            <option value="2">Utilisateur</option>
            <option value="3">Date</option>
          </select>
          <label for="floatingSelect">Rechercher sur</label>
        </div>
      </div>
    </div>
    </div>

{% endblock %}

{% block body %}

    <div class="container">
      <table id="example" class="display nowrap" width="100%">
        <thead>
          <tr>
            <th>Action</th>
            <th>Produit</th>
            <th>Utilisateur</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        {% for log in history%}
        <tr>
          <th>{{constant('ACTIONS', log)[log.action-1]}}</th>
          <th>{{log.product.getName()}}</th>
          <th>{{log.user.getFirstName()}} {{log.user.getLastName()}}</th>
          <th class ="date">{{log.date|date("d/m/Y H:i:s", "Europe/Paris")}}</th>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.24/sorting/datetime-moment.js"></script>

    <script>
        $(document).ready( function () {
          $.fn.dataTable.moment("DD/MM/YYYY HH:mm:ss");
          var table = $('#example').DataTable({
            dom:'ltip',
            processing: true,
            responsive: true,
            paging: true,
            "order": [[ 3, "desc" ]],
            language: {
              url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
			      }
      });
      $("#search").on('input', function() {
        //alert(parseInt($("#columnselect").val(), 10));
        var index = parseInt($("#columnselect").val());
        if(index == -1){
          table.search($(this).val()).draw();
        }else{
          table.column(index).search($(this).val()).draw();
        }
      });
    } );
    </script>

{% endblock %}