{% extends 'base.html.twig' %}

{% block title %}
	Enregistrer un produit
{% endblock %}

{% block searchbar %}{% endblock %}
{% block body %}


	<div class="container">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title">Ajouter un produit</h1>

				{{ form_start(form) }}
				{{ form_widget(form) }}

				<div id="hazards"></div>
				<button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Loading..."  id="productFormButton">Valider</button>
				{{ form_end(form) }}
			</div>
		</div>

		{% if incompatibilities %}
			<div class="modal fade" id="compatibilityModal" tabindex="-1" aria-labelledby="compatibilityModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="compatibilityModalLabel">Confirmer Emplacement</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>	Le produit que vous souhaitez créer possède des propriétés incompatibles avec celles d'autres produits se trouvant dans l'emplacement souhaité. Voulez-vous continuer ?</p>

							<table class="table">
								<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">NCAS</th>
									<th scope="col">Nom</th>
									<th scope="col">Concentration</th>
									<th scope="col">Masse / Volume</th>
								</tr>
								</thead>
								<tbody id="incompatibilitiesTableBody">
								{% for product in incompatibilities %}
									<tr>
										<th scope="row"> {{ product.id }} </th>
										<td> {{ product.ncas }} </td>
										<td> {{ product.name }} </td>
										<td> {{ product.concentration}} </td>
										<td> {{ product.size }} </td>
									</tr>
								{% endfor %}

								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
							<button type="button" class="btn btn-secondary" id="compatibilityConfirmButton">Procéder à l'ajout</button>
						</div>
					</div>
				</div>
			</div>
		{% endif %}



	</div>

{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}



{% block javascripts %}
	<script src="{{ asset('js/pubchem.js') }}"></script>

	<script>
		$(() => {
			const $compatibilityModal = $('#compatibilityModal');
			const $compatibilityConfirmButton = $('#compatibilityConfirmButton');

			const $isIgnoreConflicts = $('#{{ form.is_ignore_conflicts.vars.id }}');

			const $inputNcas = $('#{{ form.ncas.vars.id }}');
			const $inputName = $('#{{ form.name.vars.id }}');

			$compatibilityConfirmButton.click(function () {
				$isIgnoreConflicts.val('true');
				$isIgnoreConflicts.form().submit();
			});




			{% if incompatibilities %}
			$compatibilityModal.modal('show');
			{% endif %}

			// $inputNcas.autocomplete({
			// 	source: function( qry, callback ) {
			// 		pubchem.autocompleteCAS(qry.term).then(callback)
			// 	},
			// 	minLength: 3,
			// 	select: function( event, ui ) {
			// 		update(pubchem, ui.item.value)
			// 	}
			// });

		});
	</script>



{% endblock %}

