{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/sp-1.2.1/sl-1.3.3/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="tableStyle.css"/>


{% endblock %}
{% block title %}
    Produits
{% endblock %}
{% block searchbar %}
{% endblock %}
{%block body %}

    <div class="container-fluid" style="margin-top: 2em;">
        <div class="row">
            <div class="table-responsive">
                <table id = "productTable" class="hover" >
                    <thead>
                    <tr>
                        <th> </th>
                        <th> </th>
                        <th class="text-center">N°CAS</th>
                        <th class="text-center">Nom du Produit</th>
                        <th class="text-center">Localisation</th>
                        <th class="text-center">Concentration</th>
                        <th class="text-center">Taille</th>
                        <th class="text-center">Utilisé par:</th>
                        <th class="text-center">Ouvert/Fermé</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr  id = 'product-{{product.id}}'>
                            <td><label><input type="checkbox" value='{{product.id}}' autocomplete="off"><span></span></label></td>
                            <td>
                                {% if app.user %}
                                    {% if product.action == 1%}
                                        <a onclick="ranger('product-{{product.id}}')" class="btn btn-primary put-btn">Ranger</a>
                                    {% else %}
                                        <a onclick="prendre('product-{{product.id}}')" class="btn btn-primary take-btn">Prendre</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('userselect') }}" class="btn btn-primary {{ product.action == 1 ? 'put-btn': ' take-btn' }} ">
                                        {{ product.action == 1 ? 'Ranger': 'Prendre' }}
                                    </a>
                                {% endif %}

                            </td>
                            <td>{{product.ncas}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.location}}</td>
                            <td>{{product.concentration}}</td>
                            <td>{{product.size}}</td>
                            <td>
                                {% if product.action == 1%}
                                    {{product.user}}
                                {% else %}

                                {% endif %}
                            </td>
                            <td>
                                {% if product.action != 3 %}
                                    Ouvert
                                {% else %}
                                    Fermé
                                {% endif %}
                            </td>
                            <td>
                                <button type="button" class="btn btn-light info-btn">Informations <i class="bi bi-caret-down"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th> </th>
                        <th> </th>
                        <th>N°CAS</th>
                        <th>Nom du Produit</th>
                        <th>Localisation</th>
                        <th>Concentration</th>
                        <th>Taille</th>
                        <th>Utilisé par:</th>
                        <th>Ouvert/Fermé</th>
                        <th> </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/sp-1.2.2/sl-1.3.3/datatables.min.js"></script>

    <script type="text/javascript">

            var table = $('#productTable').DataTable({
                dom : '<Blf<t>ip>',
                buttons: [
                        {
                            tag: "button",
                            className: "btn btn-secondary",
                            text: 'Déplacer',
                            action: function (e, dt, node, config) {
                                moveRow();
                            }
                        },
                        {
                            tag: "button",
                            className: "btn btn-secondary",
                            text: 'Ajouter',
                            action: function (e, dt, node, config) {
                                addElement();
                            }
                        },
                        {
                            tag: "button",
                            className: "btn btn-secondary",
                            text: 'Supprimer',
                            action: function (e, dt, node, config) {
                                deleteRow();
                            }
                        }

                ],
                "order": [[ 2, 'desc' ]],
                "columnDefs": [
                    { "searchable": false, "targets": 0 },
                    { "searchable": false, "targets": 9 },
                    {
                        searchPanes: {
                            show: false
                        },
                        targets: [0]
                    },
                    {
                        searchPanes: {
                            show: false
                        },
                        targets: [1]
                    },
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [2]
                    },
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [3]
                    },
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [4]
                    },
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [5]
                    },
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [6]
                    },
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [7]
                    },
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [8]
                    },
                    {
                        searchPanes: {
                            show: false
                        },
                        targets: [9]
                    },
                    { "targets": [0,1,9], "orderable": false },
                    {"className": "dt-center", "targets": "_all"}
                ],
                stateSave: true,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                language: {
                    searchPanes: {
                        clearMessage: 'réinitialiser la recherche',
                        collapse: {0: 'Recherche avancée', _: 'Recherche avancée(%d)'},
                        emptyPanes: "Aucune recherche n'est possible :("
                    },
                    "decimal": ",",
                    "thousands": ".",
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
                },"initComplete": function( settings, json ) {
                    new $.fn.dataTable.Buttons( table, {
                        buttons: [
                            {
                                extend: 'searchPanes',
                                tag: "button",
                                className: "btn btn-secondary",
                                config: {
                                    cascadePanes: true,
                                    panes: [
                                        {
                                            header: 'Produits utilisés/libres',
                                            options: [
                                                {
                                                    label: 'libres',
                                                    value: function (rowData, rowIdx) {
                                                        return rowData[7] === '';
                                                    }
                                                },
                                                {
                                                    label: 'utilisés',
                                                    value: function (rowData, rowIdx) {
                                                        return rowData[7] !== '';
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        ]
                    } );

                    table.buttons( 1, null ).container().appendTo(
                        $("#productTable_filter")
                    );
                }
            });



            // Traitements sur des cases à chocher
        $("input[type=checkbox]").change(function() {
            $("#product-"+this.value).toggleClass('selected');
        });

        function addElement(){
            window.location.href = '{{path('products.create')|escape('js')}}';
        }

        function moveRow(){
            console.log();
        }

        function deleteRow(){
            let rows = table.rows('.selected');
            let data = rows.data();

            for(let i= 0; i < data.length; i++)
            {
                let product = data[i]["DT_RowId"].split('-')[1];
                let action = {{constant('App\\Entity\\Usage::ACTION_DELETE')}};

                let route = '{{path('products.change',{'action': 'action','product' : 'product'})}}';
                route = route.replace("action",action);
                route = route.replace("product", product);

                $.get( route, function( res ) {
                    $(".result").html(res);
                });

            }
            rows.remove().draw( false );
            table.searchPanes.rebuildPane();
        }

        function ranger(id){
            let product = id.split('-')[1];
            let action = {{constant('App\\Entity\\Usage::ACTION_RETURN')}};
            let route = '{{path('products.change',{'action': 'action','product' : 'product'})}}';

            route = route.replace("action",action);
            route = route.replace("product", product);

            $.get( route, function( res ) {
                $( ".result" ).html( res );

                let row = table.row("#"+id);
                let data = row.data();

                data[1] = '<a onclick="prendre('+"'"+id+"'"+')" class="btn btn-primary take-btn">Prendre</a>';
                data[7] = ""

                row.data(data).draw(false);
                table.searchPanes.rebuildPane();
            });
        }

        function prendre(id){
            let product = id.split('-')[1];
            let action = {{constant('App\\Entity\\Usage::ACTION_TAKE')}};
            let route = '{{path('products.change',{'action': 'action','product' : 'product'})}}';

            route = route.replace("action",action);
            route = route.replace("product", product);

            $.get( route, function( res ) {
                $( ".result" ).html( res );

                let row = table.row("#"+id);
                let data = row.data();

                data[1] = '<a onclick="ranger('+"'"+id+"'"+')" class="btn btn-primary put-btn">Ranger</a>';
                data[7] = $.parseJSON(res);
                data[8] = 'Ouvert';

                row.data(data).draw(false);
                table.searchPanes.rebuildPane();
            });


        }
    </script>
{% endblock %}